﻿<div class="container" style="max-width:100%">
 
    <form class="form-signin">
        <h2 class="form-signin-heading">Admin Panel</h2>
        <button ui-sref="root1.edit({id:'newProduct'})" ng-click="close()" class="btn btn-lg btn-default btn-block" type="button">New Product</button>
        <button ui-sref="root1.users" ng-click="close()" class="btn btn-lg btn-default btn-block" type="button">Users</button>
        <button ui-sref="root1.orders" ng-click="close()" class="btn btn-lg btn-default btn-block" type="button">Orders</button>
        <button ui-sref="root1.attributes" ng-click="close()" class="btn btn-lg btn-default btn-block" type="button">Attributes</button>
        <button ng-click="close()" class="btn btn-lg btn-warning btn-block" type="button">Cancel</button>
    </form>        

</div>