﻿<div class="container">
    <form class="form-horizontal" role="form" name="editForm" novalidate>
        <fieldset>
            <legend>Attributes</legend>

            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label for="brands" class="control-label">Brands</label>
                    <div>
                        <button class="btn btn-default"
                                ng-click="addBrand()">
                            <span class="glyphicon glyphicon-plus" />
                        </button>
                    </div>
                </div>
                <div id="brands" class="col-sm-9">
                    <div ng-repeat="x in brands" class="input-group">
                        <input type="text" class="form-control"
                               ng-model="x.name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="{{$index}}"
                                    ng-click="deleteBrand($index)">
                                <span class="glyphicon glyphicon-remove" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label for="colors" class="control-label">Colors</label>
                    <div>
                        <button class="btn btn-default"
                                ng-click="addColor()">
                            <span class="glyphicon glyphicon-plus" />
                        </button>
                    </div>
                </div>
                <div id="colors" class="col-sm-9">
                    <div ng-repeat="x in colors" class="input-group">
                        <input type="text" class="form-control"
                               ng-model="x.name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="{{$index}}"
                                    ng-click="deleteColor($index)">
                                <span class="glyphicon glyphicon-remove" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label for="genders" class="control-label">Genders</label>
                    <div>
                        <button class="btn btn-default"
                                ng-click="addGender()">
                            <span class="glyphicon glyphicon-plus" />
                        </button>
                    </div>
                </div>
                <div id="colors" class="col-sm-9">
                    <div ng-repeat="x in genders" class="input-group">
                        <input type="text" class="form-control"
                               ng-model="x.name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="{{$index}}"
                                    ng-click="deleteGender($index)">
                                <span class="glyphicon glyphicon-remove" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label for="types" class="control-label">Types</label>
                    <div>
                        <button class="btn btn-default"
                                ng-click="addType()">
                            <span class="glyphicon glyphicon-plus" />
                        </button>
                    </div>
                </div>
                <div id="colors" class="col-sm-9">
                    <div ng-repeat="x in types" class="input-group">
                        <input type="text" class="form-control"
                               ng-model="x.name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="{{$index}}"
                                    ng-click="deleteType($index)">
                                <span class="glyphicon glyphicon-remove" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <hr />

            <div class="col-sm-offset-3 col-sm-9">
                
                <button type="button" class="btn btn-default"
                        ng-click="submit()">
                    Accept
                </button>
                
            </div>
        </fieldset>

    </form>
</div>
