﻿<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div ng-hide="cart.length>0" class="text-center">
                <h3>You have no products in the cart.</h3>
                <button ui-sref="root.home()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Start Shopping
                </button>
            </div>
            <table ng-show="cart.length>0" class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in cart">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a style="margin-right:10px" class="thumbnail pull-left" ui-sref="root1.details({id:c.item.product._id})"> <img class="media-object" src={{c.image}} style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a ui-sref="root1.details({id:c.item.product._id})">{{c.item.product.name}}</a></h4>
                                    <h5 class="media-heading"> by <a href="">{{c.item.product.brand}}</a></h5>
                                    <div ng-if="c.item.quantity>0">
                                        <span>Status: </span><span class="text-success"><strong>In Stock: {{c.item.quantity}}</strong></span>
                                    </div>
                                    <div ng-if="c.item.quantity<=0">
                                        <span>Status: </span><span class="text-danger"><strong>Not Available</strong></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{c.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{c.item.product.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{c.item.product.price * c.quantity}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger" ng-click="removeItem(c.size)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{price()}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <button ng-click="clearCart()" type="button" class="btn btn-danger">
                                Clear Cart <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>
                            <button ui-sref="root.home()" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                        <td>
                            <button ng-if="user" ng-click="openCheckout()" type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <div ng-if="!user">Please log in to make your order.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>