﻿<div class="container" style="max-width:100%; margin-bottom:20px;margin-bottom:20px">
    <div class="product-title"><b>{{user.firstName}} {{user.lastName}}</b></div>
    <div class="product-desc"><b>Address: </b>{{user.address}}</div>
    <div class="product-desc"><b>Postal Code: </b>{{user.postalCode}}</div>
    <div class="product-desc"><b>State: </b>{{user.state}}</div>
    <hr />
    <div class="product-desc">Price: {{price}}</div>
    <hr />
    <button ng-click="order()" type="button" class="btn btn-success pull-right">
        Order <span class="glyphicon glyphicon-play"></span>
    </button>
    <button ng-click="cancel()" type="button" class="btn btn-danger pull-right">
        Cancel <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
