﻿<div class="container">
    <div class="col-sm-12 col-md-10 col-md-offset-1">



        <div class="detailsContainer">

            <div class="img-thumbnail viewImage activeImage" style="background-image:url({{currentImage}})">
            </div>
            <div ng-repeat="i in images" style="display:inline-block">
                <div ng-click="setCurrentImage(i)" class="img-thumbnail viewImage inactiveImage" style="background-image:url({{i}})"></div>
            </div>

        </div>



        <div class="detailsContainer">
            <div class="product-title">{{product.name}}</div>
            <div class="product-desc"><b>Brand: </b>{{product.brand}}</div>
            <div class="product-desc"><b>Color: </b>{{product.color}}</div>
            <div class="product-desc"><b>Gender: </b>{{product.gender}}</div>
            <div class="product-desc"><b>Type: </b>{{product.type}}</div>
            <hr>
            <div class="product-desc"><b>Size:</b> </div>
            <select class="form-control" ng-model="selectedSize" ng-options="size.value for size in product.sizes"></select>
            <div ng-show="selectedSize.quantity>0">
                <div class="product-desc"><b>Quantity:</b> </div>
                <input ng-model="selectedQuantity" class="form-control" type="number" min="1" max="{{selectedSize.quantity}}" onkeydown="return false" />
            </div>
            <hr>
            <div class="product-price">$ {{product.price}}</div>
            <div ng-if="selectedSize.quantity>0" class="product-stock">
                In Stock: {{selectedSize.quantity}}
            </div>
            <div ng-if="selectedSize.quantity<=0" class="product-notstock">Not Available</div>
            <hr>
            <div class="btn-group cart">
                <button ng-if="selectedSize.quantity>0" type="button" class="btn btn-success" ng-click="addCart(selectedSize._id,selectedQuantity)">
                    <span class="glyphicon glyphicon-shopping-cart"></span>Add
                </button>
            </div>
        </div>
    </div>
</div>