﻿<div class="container">
    <div class="col-sm-12 col-md-10 col-md-offset-1">



        <div class="detailsContainer">

            <div class="img-thumbnail viewImage activeImage" style="background-image:url({{currentImage}})">
            </div>
            <div ng-repeat="i in images track by $index" style="display:inline-block">
                <div ng-click="setCurrentImage(i)" class="img-thumbnail viewImage inactiveImage" style="background-image:url({{i}})"></div>
            </div>
            <div ng-hide="isNew || images.length==0" class="text-center">
                <button type="button" class="btn btn-danger"
                        ng-click="deleteImage()">
                    Delete Selected Image
                </button>
            </div>

        </div>

        <form class="form-horizontal" role="form" name="editForm" novalidate>
            <fieldset>
                <legend>Product Form</legend>

                <div class="form-group" ng-class="{'has-error':editForm.name.$invalid && submitted}">
                    <label for="price" class="col-sm-3 control-label">Price</label>
                    <div class="col-sm-9">
                        <input type="number" step="20" id="price" name="price" class="form-control"
                               ng-model="product.price"
                               ng-required="true" />
                        <span class="help-block"
                              ng-if="editForm.price.$error.required && submitted">
                            Required field.
                        </span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error':editForm.name.$invalid && submitted}">
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" name="name" class="form-control"
                               ng-model="product.name"
                               ng-required="true" />
                        <span class="help-block"
                              ng-if="editForm.name.$error.required && submitted">
                            Required field.
                        </span>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label for="brand" class="col-sm-3 control-label">Brand</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="brand.name as brand.name for brand in brands" ng-model="product.brand"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="color" class="col-sm-3 control-label">Color</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="color.name as color.name for color in colors" ng-model="product.color"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="gender.name as gender.name for gender in genders" ng-model="product.gender"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="type.name as type.name for type in types" ng-model="product.type"></select>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        <label for="sizes" class="control-label">Sizes</label>
                        <div>
                            <button class="btn btn-default"
                                    ng-click="addSize()">
                                <span class="glyphicon glyphicon-plus" />
                            </button>
                        </div>
                    </div>
                    <div id="sizes" class="col-sm-9">
                        <div ng-repeat="size in product.sizes">
                            <div class="col-sm-7">
                                <input type="number" class="form-control"
                                       ng-model="size.value">
                            </div>
                            <div class="col-sm-5 input-group">
                                <input type="number" class="form-control"
                                       ng-model="size.quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="{{$index}}"
                                            ng-click="deleteSize($index)">
                                        <span class="glyphicon glyphicon-remove" />
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <hr />

                <div class="col-sm-offset-3 col-sm-9">
                    <div ng-if="!isNew" class="btn-group">
                        <span class="btn btn-info btn-file">
                            Add Images <input type="file" id="uploadfile" name="uploadfile" multiple />
                        </span>
                        <button class="btn btn-success" ng-click="postImages()"> Upload Selection </button>
                    </div>
                    <button type="button" class="btn btn-default"
                            ng-click="submit()">
                        Accept
                    </button>
                    <button ng-if="!isNew" type="button" class="btn btn-danger"
                            ng-click="delete()">
                        Delete
                    </button>
                </div>
            </fieldset>

        </form>

    </div>
</div>