﻿<!--<div class="headerWrap">Header is here!</div>-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home">Dino's Footwear Shop</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input ng-model="search" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default" ng-click="searchProducts(search)">Submit</button>
            </form>
            <div class="nav navbar-form navbar-nav navbar-right">
                <button ui-sref="root1.cart()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</button>
                <div class="btn-group">
                    <button ng-click="openAdmin()" type="button" class="btn btn-default" ng-if="user && user.isAdmin">Admin</button>
                    <button ng-click="openAccount()" type="button" class="btn btn-default" ng-show="user">Account</button>                    
                    <button ng-click="logout()" type="button" class="btn btn-default" ng-show="user">Logout</button>
                </div>                
                <div class="btn-group">
                    <button ng-click="openRegister()" type="button" class="btn btn-default" ng-hide="user">Register</button>
                    <button ng-click="openLogin()" type="button" class="btn btn-default" ng-hide="user">Login</button>
                </div>
            </div>
            <p ng-if="user" class="navbar-text navbar-right">Welcome, {{user.username}}</p>
            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>