﻿<div>    
    <div class="container">
        
        <div class="text-center">
            <div ng-show="products.length==0">
                <button class="btn btn-danger" ng-click="clearAllSearch()">No such product, please refine your search filters.</button>
            </div>
            <div ng-show="search && products.length>0" style="margin-bottom:20px">
                <button class="btn btn-danger" ng-click="clearSearch()">Click to remove search query: {{search}}</button>
            </div>
        </div>

        <div id="products" class="row list-group">

            <div ng-repeat="p in products" class="item  col-xs-3 col-md-3 col-lg-3">

                <div class="thumbnail">
                    <a ui-sref="root1.details({id:p._id})">
                        <img class="group list-group-image" src={{p.image}} alt="No image" />
                    </a>
                    <div class="caption">
                        <!--<div class="row">-->
                        <!--<img class="product-image" src={{p.image}} alt="No image" />-->
                        <h4 class="group inner list-group-item-heading">
                            <a ui-sref="root1.details({id:p._id})">{{p.name}}</a>
                        </h4>
                        <p class="group inner list-group-item-text">
                            <b>Brand: </b>{{p.brand}}
                        </p>
                        <p class="group inner list-group-item-text">
                            <b>Sizes: </b><span ng-repeat="s in p.sizes track by $index">{{s.value}} </span>
                        </p>
                        <!--</div>-->
                        <div class="row">
                            <div ng-if="user && user.isAdmin" class=" col-md-7">
                                <button ui-sref="root1.edit({id:p._id})" type="button" class="btn btn-default btn-product">Edit</button>
                            </div>

                            <div class="col-xs-10 col-md-5">
                                <p class="product-stock ">
                                    ${{p.price}}
                                </p>
                            </div>
                            <!--<div class="col-xs-14 col-xs-offset-10 col-md-offset-5 col-md-7">
                                <p class="lead">
                                    ${{p.price}}
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
