﻿<div ui-view="header"></div>
<div class="container-fluid">
    <div class="row">
        <!--<div ui-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 container"></div>-->
        <div ui-view></div>      
    </div>    
</div>
