﻿<div ui-view="header"></div>
<div class="container">
    <div class="row">
        <div ui-view class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main"></div>
        <div ui-view="sidebar" class="col-sm-3 col-md-2 sidebar"></div>
    </div>
</div>
