﻿<div class="container" style="max-width:100%">
    <form class="form-signin">
        <h2 class="form-signin-heading">Log In</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="remember"> Remember me
            </label>
        </div>
        <button ng-click="ok()" class="btn btn-lg btn-primary btn-block" type="button">Log In</button>
        <button ng-click="cancel()" class="btn btn-lg btn-warning btn-block" type="button">Cancel</button>
        <h4 ng-if="wrongCredentials" class="form-signin-heading">Invalid credentials, please try again.</h4>
    </form>
</div>