﻿<div class="container">
    <h2>Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Price</th>
                <th>Product</th>
                <th>Size</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders track by order._id">
                <td>{{order.user.firstName}}</td>
                <td>{{order.user.lastName}}</td>
                <td>{{order.user.address}},{{order.user.postalCode}} {{order.user.state}}</td>
                <td>{{order.price}}</td>
                <td><a ui-sref="root1.details({id:order.size.product})">Product</a></td>
                <td>{{order.size.value}}</td>
                <td>{{order.quantity}}</td>
                <td>
                    <button type="button" class="btn btn-danger"
                            ng-click="delete(order._id)">
                        Delete
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
