﻿<div class="container" style="max-width:100%">
    <form class="form-signin" name="registerForm">
        <h2 ng-hide="isEditing" class="form-signin-heading">Register</h2>
        <h2 ng-show="isEditing" class="form-signin-heading">Edit account information</h2>
        <div class="form-group" ng-class="{'has-error':registerForm.username.$invalid && submitted}">
            <label for="username">Username</label>
            <input ng-disabled="isEditing" ng-model="user.username" type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        </div>
        <h4 ng-if="exists" class="form-signin-heading">Username taken, please choose another.</h4>
        <!--validaciju dovrsi nakon sta napises-->
        <div ng-if="!isEditing">
            <!--pazi na grešku u validaciji jer je required-->
            <label for="password">Password</label>
            <input ng-model="user.password" type="password" id="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group" ng-class="{'has-error':registerForm.username.$invalid && submitted}">
            <label for="firstName">First Name</label>
            <input ng-model="user.firstName" type="text" id="firstName" class="form-control" placeholder="First Name" required>
        </div>
        <div class="form-group" ng-class="{'has-error':registerForm.username.$invalid && submitted}">
            <label for="lastName">Last Name</label>
            <input ng-model="user.lastName" type="text" id="lastName" class="form-control" placeholder="Last Name" required>
        </div>

        <div class="form-group" ng-class="{'has-error':registerForm.username.$invalid && submitted}">
            <label for="address">Address</label>
            <input ng-model="user.address" type="text" id="address" class="form-control" placeholder="Address" required>
        </div>

        <div class="form-group" ng-class="{'has-error':registerForm.username.$invalid && submitted}">
            <label for="postalCode">Postal Code</label>
            <input ng-model="user.postalCode" type="text" id="postalCode" class="form-control" placeholder="Postal Code" required>
        </div>

        <div class="form-group" ng-class="{'has-error':registerForm.username.$invalid && submitted}">
            <label for="state">State</label>
            <input ng-model="user.state" type="text" id="state" class="form-control" placeholder="State" required>
        </div>

        <div ng-hide="isEditing" class="checkbox">
            <label>
                <input type="checkbox" ng-model="remember"> Remember me
            </label>
        </div>
        <button ng-click="ok()" class="btn btn-lg btn-primary btn-block" type="button"><div ng-hide="isEditing">Register</div><div ng-show="isEditing">Accept</div></button>
        <button ng-click="cancel()" class="btn btn-lg btn-warning btn-block" type="button">Cancel</button>
    </form>
</div>