﻿<div ng-repeat="name in filterNames">
    <a class="sidebar-brand btn btn-default" data-toggle="collapse" data-target="#{{name}}" aria-expanded="true" aria-controls="{{name}}">
        {{name}}
    </a>
    <ul class="nav nav-sidebar collapse in" id="{{name}}">
        <li ng-repeat="f in filters[name]">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="f.isQuery" ng-change="filterProducts()"> {{f.name}}
                </label>
            </div>
        </li>
    </ul>
</div>