﻿<div class="container">
    <h2>Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Postal Code</th>
                <th>State</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users track by user._id">
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.address}}</td>
                <td>{{user.postalCode}}</td>
                <td>{{user.state}}</td>
                <td>
                    <button type="button" class="btn" ng-class="{'btn-danger':user.isAdmin,'btn-info':!user.isAdmin}"
                            ng-click="reverseAdmin(user._id)">
                        <span ng-if="user.isAdmin" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="!user.isAdmin" class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
