﻿.headerWrap{
    position:fixed;
    left:0;
    height:50px;
    width:100%;
    background: #fff;
    border-bottom: solid;

}
.viewImage{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}
.activeImage{
    width:300px;
    height:300px;
}
.inactiveImage{
    width:100px;
    height:100px;
}
.detailsContainer{
    display:inline-block;
    float:left;
    width:300px;
    margin:20px 20px 20px 20px;
}
.toast-custom {
  top: 53px;
  right: 12px;
}
.btn-product{
    margin:0 10px 0 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
